/*****************************************
 * Layout
******************************************/
body {
  margin: 0;
}


/*****************************************
 * Header
******************************************/
#top-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.siteName a, #tools a {
  text-decoration: none;
  color: black;
}

.siteName a {
  font-size: 40px;
  padding-left: 5px;
}

#tools a {
  font-size: 15px;
  padding-right: 10px;
}

.siteName a:visited, #tools a:visited {
  text-decoration: none;
  color: black;
}


/*****************************************
 * Navigation 
******************************************/
nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #242333;
  width: 100%;
  height: auto;
  padding: 15px 0;
}

nav li {
  font-size: 20px;
  list-style-type: none;
}

nav ul li a, nav ul li a:visited {
  color: white;
  text-decoration: none;
}


/*****************************************
 * Index
******************************************/
.welcome {
  font-size: 6vw;
  padding-left: 5px;
  padding-top: 10px;
}

/* Hero Section */
.hero {
  position: relative;
  margin-top: 10px;
}

.hero_img {
  width: 100%;
  height: auto;
}

.hero_action {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  width: auto;
}

.hero_action h2 {
  font-size: 20px;
  margin: 0;
  color: #06b0d3;
  font-weight: 800;
  padding: 0;
}

.hero_action ul {
  padding: 0;
  margin: 0;
}

.hero_action li {
  font-size: 13px;
  list-style-type: none;
  color: #06b0d3;
  font-weight: bold;
}

.hero_action button {
  font-size: 15px;
  padding: 7px;
  color: black;
  background-color: #06b0d3;;
  font-weight: bold;
  margin-top: 5px;
}

/* Reviews Section */
.reviews ul{
  padding-left: 20px;
  margin: 0;
}

.reviews h2 {
  font-size: 21px;
  margin: 20px 0 0 5px;
}

.reviews li {
  font-size: 15px;
  padding: 10px 0;
}

/* Upgrades Section */
.upgrades h2 {
  margin: 15px 0 5px 5px;
  font-size: 21px;
}

.upgrades_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 15px;
  grid-template-rows: 125px 125px;
  padding: 5px;
}

.image_frame {
  display: flex;
  width: 100%;
  height: 90%;
  background-color: #06b0d3;
  justify-content: center;
  border: 2px black solid;
}

.image_frame img {
  width: 40%;
  height: auto;
  object-fit: contain;
}

.capacitor {
  grid-column: 1/2;
  grid-row: 1/2;
}


.decals {
  grid-column: 2/3;
  grid-row: 1/2;
}

.stickers {
  grid-column: 1/2;
  grid-row: 2/3;
}

.hubcaps {
  grid-column: 2/3;
  grid-row: 2/3;
}

.upgrades_container a {
  font-size: 20px;
  text-align: center;
}

.capacitor, .decals, .stickers, .hubcaps {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


/*****************************************
 * Footer
******************************************/
footer {
  font-size: 12px;
  padding-left: 5px;
  padding-top: 20px;
}


/*****************************************
 * Classification
******************************************/
main h1 {
  display: flex;
  justify-self: center;
}

#inv-display {
  padding: 0;
}

#inv-display li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  background-color: rgba(128, 128, 128, 0.5);
  margin: 15px;
  padding-bottom: 15px;
}

#inv-display li a img {
  display: flex;
  justify-self: center;
  margin: 20px;
  max-width: 80%;
}

.namePrice h2{
  margin: 0;
  padding-bottom: 10px;
}

.namePrice h2 a {
  text-decoration: none;
  color: black;
}


/*****************************************
 * Details
******************************************/
.details img {
  display: flex;
  max-width: 90%;
  justify-self: center;
}

.details h2 {
  display: flex;
  justify-self: center;
}

.price, .description, .color, .miles {
  margin: 0 4%;
}

.details h3{
  margin-bottom: 0;
}

.details p {
  margin-top: 0;
}

.info {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 10px;
  max-width: 90%;
  margin: auto;
}


/*****************************************
 * Errors
******************************************/
#message404 {
  display:flex;
  justify-self: center;
  padding: 10px;
}


/*****************************************
 * Login/Register
******************************************/
.loginContainer {
  margin: 20px auto;
  padding: 30px;
  background-color: #32475c;
  color: white;
  border-radius: 5px;
  text-align: center;
  max-width: 400px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.loginForm button {
  margin: auto;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  font-size: 15px;
}

.loginForm input {
  margin-bottom: 15px;
  height: 20px;
}

.loginForm label {
  margin-bottom: 5px;
  font-size: 20px;
}

.loginContainer p a, .loginContainer p a:visited {
  color: white;
}


/*****************************************
 * Add Inventory
******************************************/
.inventory-form {
  display: flex;
  flex-direction: column;
}

.inventory-form label {
  padding-top: 10px;
}

/*****************************************
 * Larger Screen
******************************************/
@media (min-width: 760px) {
  /*****************************************
  * Layout
  ******************************************/
  html {
    background-image: url('../images/site/checkerboard.jpg');
    background-size: 450px 450px;
  }

  body {
    margin: 10px 100px;
    padding: 15px;
    background-color: white;
    border: 5px #06b0d3 solid;
    border-radius: 10px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 10px;
  }


  /*****************************************
  * Header
  ******************************************/
  .siteName {
    padding-top: 25px;
  }

  .siteName a {
    font-size: 50px;
  }

  #tools {
    padding-top: 30px;
  }

  #tools a {
    font-size: 20px;
  }


  /*****************************************
  * Index
  ******************************************/
  .welcome {
    font-size: 35px;
    grid-column: 2/4;
  }

  /* Hero */
  .hero {
    grid-column: 1/5;
  }

  .hero_img {
    width: 80%;
    justify-self: center;
    margin-left: 10%;
  }

  .hero_action {
    left: 5%;
    top: 5%;
  }

  .hero_action h2 {
    font-size: 30px;
  }

  .hero_action li {
    font-size: 25px;
  }

  .hero_action button {
    font-size: 18px;
    padding: 10px 25px;
    justify-self: center;
    margin: 20px 0 5px 10%;
  }

  /* Reviews */
  .reviews {
    grid-column: 3/5;
    grid-row: 3/4;
  }

  .reviews h2, .upgrades h2 {
    padding-bottom: 25px;
  }

  .reviews ul {
    margin-top: -10px;
  }

  .reviews li {
    font-size: 20px;
  }

  /* Upgrades */
  .upgrades {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .upgrades_container {
    gap: 20px 15px;
  }

  .upgrades_container a {
    font-size: 15px;
  }


  /*****************************************
  * Footer
  ******************************************/
  footer {
    font-size: 15px;
  }

  footer p {
    margin-bottom: 0;
  }
  

  /*****************************************
  * Classification
  ******************************************/
  main h1 {
    grid-column: 2/4;
  }

  #inv-display {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/5;
    justify-content: space-evenly;
  }


  /*****************************************
  * Details
  ******************************************/
  .details {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .details h1 {
    grid-column: 1/3;
  }

  .details img {
    grid-column: 1/2;
    grid-row: 2/4;
    margin: auto;
  }

  .details h2 {
    grid-row: 2/3;
  }

  .details h2, .details .info {
    grid-column: 2/3;
  }


  /*****************************************
  * Errors
  ******************************************/
  #title404 {
    grid-column: 2/4;
  }

  #message404 {
    grid-column: 2/4;
  }

  /*****************************************
  * Login/Register
  ******************************************/
  .loginContainer {
    grid-column: 2/4;
    max-width: none;
    width: 85%;
  }

  .loginForm button{
    width: 100px;
    height: 30px;
    font-size: 18px;
  }

  .loginContainer p {
    font-size: 20px;
  }

  .loginForm ul {
    margin: 0px;
    padding: 0px 0px 20px 20px;
  }

  .loginForm ul span {
    margin-left: -15px;
  }

}