<% if (title) { %>
    <h1 class="management-header"><%= title %></h1>
    <p><%- messages() %></p>
    
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

    <div class="management-links">
      <a id="classification-link" href="/inv/add-classification">Add New Classification</a>
      <a id="inventory-link" href="/inv/add-inventory">Add New Inventory</a>
    </div>

    <% } else {
      res.redirect('/')
    } %>

    

